@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Roboto&display=swap');


body {
/* overflow: hidden; */
margin:0;
padding:0;
}



.header { 
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100px;
    background-color: #adb5bd;
    background-size:100%;
    margin: 0;
  
}

#headerText { 
    font-family: 'Poppins', sans-serif;
    color: azure;
    
    
}

#headerText:hover{ 
    transition: 0.3s;
    color:#212529; 
    cursor: pointer;
}
#container { 
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 900px;
    background-color: #adb5bd;
    padding-bottom: 100px;
    
}




#resizeButton{
    background: azure;
    color: #adb5bd;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding: 6px 24px;
    border: none;
    /* border-radius: 4px; */
    margin-right: 64px;
    
   
}

#resizeButton:hover
{
    transition: 0.3s;
    background: #212529;
    color: azure;
}