@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Roboto&display=swap');


body {
/* overflow: hidden; */
margin:0;
padding:0;
}



.header { 
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100px;
    background-color: #adb5bd;
    background-size:100%;
    margin: 0;
  
}

#headerText { 
    font-family: 'Poppins', sans-serif;
    color: azure;
    
    
}

#headerText:hover{ 
    transition: 0.3s;
    color:#212529; 
    cursor: pointer;
}
#container { 
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 900px;
    background-color: #adb5bd;
    padding-bottom: 100px;
    
}




#resizeButton{
    background: black;
    color: azure;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding: 6px 24px;
    border: none;
    margin-top: 160px;
    margin-bottom: 240px;
    margin-right: 90px;
    opacity: 70%;
    
   
}

#resizeButton:hover
{
    transition: 0.3s;
    background: azure;
    color: #212529;
}


#menuBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: auto;
}

#colourChanger {
    height: 120px;
    width: 120px;
    background-color: #212529;
    margin-right: 90px;
}

#colourChanger:hover { 
    transition-duration: 0.3;
    transform: scale(1.1); 

}

#eraserButton {

    
}